#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



input[type=text] {
  appearance: none;
  -moz-appearance: textfield;


  width: 50px;
  margin-right: 1rem;
  text-align: center;
  padding: 0.25rem 0.75rem;

}

button {
  padding: 0.25rem 0.75rem;
  margin-right: 1rem;

}

label {
  position: relative;
}

input:valid+span::after {
  position: absolute;
  left: 0;
  right: 27px;
  top: 25px;
  content: "✓";
  padding-left: 5px;
  margin-top: 15px;
}

input:invalid+span::after {
  margin-top: 15px;
  position: absolute;
  left: 0;
  right: 27px;
  top: 25px;
  content: "✖";
  padding-left: 5px;
}

input:out-of-range {
  background-color: orange;
}

small {
  position: fixed;
  width: 300px;
  display: block;
  color: red;
  left: 38%;
  top: 20%;
}

.removeBorder {
  border: transparent;
  font-size: 2rem;
  color: rgb(15, 4, 113);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

}


.colon {
  margin-right: 0.95rem;
}