body {
  height: 100vh;
  width: 100vh;
  display: grid;
  place-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.vertical {

  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 0.85rem;
  margin: 1rem;
  transition: all 0.35s ease-in-out;
  height: 200px;
  width: 100px;
  justify-content: center;
  align-items: center;
  z-index: 3;

}

.box {
  padding: 0.25rem 0.35rem;
  height: 60px;
  width: 25px;
  text-align: center;
  position: relative;
  z-index: 10;

}

.description {
  position: absolute;
  width: 200px;
  padding: 0.25rem;
  top: 0;
  right: 0;
  transform: translateX(125%);
  transition: all 0.35s smooth;
  display: none;
}



.box:hover {
  border: 2px solid grey;
  background-color: aquamarine;
}


.box:hover .description {
  background-color: aquamarine;
  border: 2px solid grey;
  display: unset;
  z-index: 1;

}


.vertical:hover {
  border: 1px solid grey;
  box-shadow: 0 2px 6px rgba(255, 55, 55, 0.56);
}

