.productsection {
  background-color: rgba(200, 185, 187, 0.5);
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 3rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 13px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  margin-bottom: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  border: solid 1px;
  padding: 0.5rem 1rem;
  border-radius: 13px;
  justify-content: center;
  align-items: center;
  background-color: slateblue;
  color: pink;
  border: 2px solid white;
}

.product img {
  object-fit: contain;
}


@media screen and (max-width:600px) {

  .productsection {
    grid-template-columns: 1fr;
  }

}

.container {
  margin-top: 1rem;
}